div {
    animation: mymove 1s;
    animation-iteration-count:2;
    animation-direction: alternate;
    animation: carre 2s;
  }
div:hover{
    animation-play-state: paused;
}
  @keyframes mymove {
      from {left: 0px;} /* 0% */
      to {left: 200px;}
  }
  @keyframes carre {
    from {left: 200px;} /* 0% */
    50% {left:200px ;top: 200px;}
    to  {top: 200px;}
}